@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@theme {
    --color-zinc-50: var(--color-slate-50);
    --color-zinc-100: var(--color-slate-100);
    --color-zinc-200: var(--color-slate-200);
    --color-zinc-300: var(--color-slate-300);
    --color-zinc-400: var(--color-slate-400);
    --color-zinc-500: var(--color-slate-500);
    --color-zinc-600: var(--color-slate-600);
    --color-zinc-700: var(--color-slate-700);
    --color-zinc-800: var(--color-slate-800);
    --color-zinc-900: var(--color-slate-900);
    --color-zinc-950: var(--color-slate-950);
}
@theme {
    --color-accent: var(--color-blue-500);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);

    /* Light mode cards */
    --card-total-bg: var(--color-blue-100);
    --card-total-fg: var(--color-blue-800);

    --card-due-bg: var(--color-yellow-100);
    --card-due-fg: var(--color-yellow-800);

    --card-overdue-bg: var(--color-red-100);
    --card-overdue-fg: var(--color-red-800);

    --card-redue-bg: var(--color-orange-100);
    --card-redue-fg: var(--color-orange-800);

    --card-reoverdue-bg: var(--color-rose-100);
    --card-reoverdue-fg: var(--color-rose-800);
}
@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);

        /* Dark mode cards */
        --card-total-bg: var(--color-blue-900);
        --card-total-fg: var(--color-blue-100);

        --card-due-bg: var(--color-yellow-900);
        --card-due-fg: var(--color-yellow-100);

        --card-overdue-bg: var(--color-red-900);
        --card-overdue-fg: var(--color-red-100);

        --card-redue-bg: var(--color-orange-900);
        --card-redue-fg: var(--color-orange-100);

        --card-reoverdue-bg: var(--color-rose-900);
        --card-reoverdue-fg: var(--color-rose-100);
    }
}

@layer base {
    form {
        @apply w-full space-y-4;
    }
}
@layer {
    .form {
        @apply w-full md:w-1/2 lg:w-1/3  items-center justify-center flex flex-col mx-auto;
    }
    .input-search {
        @apply w-full md:w-1/4 lg:w-1/6 mr-4;
    }

    .form .buttons {
        @apply flex justify-end;
    }

    .show-information {
        @apply w-full md:w-1/2 lg:w-1/3  items-center justify-center flex flex-col mx-auto space-y-4  ;
    }
    .detail-information {
        @apply space-y-4 w-full;
    }
}
